*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: arial, sans-serif;
    background-color: green;
}
.cabecera {
    background-color: white;
    color: black;
    padding: 20px 0;
    margin-bottom: 40px;
    border-bottom: solid yellow 5px;
}
.contenedor-cabecera{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 40px;
}
.logo img {
    height: 160%;
    display: block;
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.lista-menu{
    list-style: none;
    display: flex;
     gap: 15px;
}
.lista-menu li a{
    color: black;
    text-decoration: none;
    font-size: 16px;

}
.lista-menu li a: :hover{
    color: #ffcc00;

}
    